<!DOCTYPE html>
<html>
  <head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
      .jumbotron {
        width: 100%;
        margin: 10% auto;
        background-color: black;
        color: white;
        ;
      }

      .btn {
        margin-bottom: 10px;
      }

      .pwdChange .emailChange .nameChange{
        float: left;
      }

      .currentEmail {
        margin: 11px 0;
      }

      .lbl {
        font-weight: bold;
      }

    </style>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron text-center">
        <h2>Account Management</h2><br>


        <div class="row">
          <div class="col-lg-6">
            <div class="pwdChange">
              <form>
              <div class="text-left">
                <label class="lbl">Change Password:</label>
              </div>

              <div class="form-group">
                <input id="oldPwd" class="form-control" type="password" placeholder="Old Password" required>
              </div>

              <div class="form-group">
                <input id="newPwd" class="form-control" type="password" placeholder="New Password" required>
              </div>

              <div class="form-group">
                <input id="confirmNewPwd" class="form-control" type="password" placeholder="Confirm new Password" required>
              </div>

              <div class="text-right">
                <button type="submit" class="btn btn-secondary">Change Password</button>
              </div>
              </form>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="row">
              <div class="col-12">
                <div class="emailChange">
                  <form>
                    <div class="text-left">
                      <label class="lbl">Change Email:</label>
                    </div>

                    <div class="form-group">
                      <input id="newEmail" class="form-control" type="email" placeholder="currentuser@email.com" required>
                    </div>

                    <div class="text-right">
                      <button type="submit" class="btn btn-secondary">Change Email</button>
                    </div>
                  </form>
                </div>
              </div>

              <div class="col-12">
                <div class="nameChange">
                  <form>
                    <div class="text-left">
                      <label class="lbl">Change Name:</label>
                    </div>

                    <div class="form-group">
                      <input id="newName" class="form-control" type="email" placeholder="New Name" required>
                    </div>
                    <div class="text-right">
                      <button type="submit" class="btn btn-secondary">Change Name</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </body>
</html>
